body {
  line-height: 1;
  background-color: #21232F;
  font-family: Freska, Source Sans Pro, sans-serif; }

.header {
  z-index: 1;
  width: 100%;
  height: 590px;
  background: url(../img/m-h-night.jpg) no-repeat center center;
  border-bottom-right-radius: 40%;
  color: #FDFDFD;
  position: relative; }
  .header_heading {
    margin-top: 90px;
    font-weight: 575;
    max-width: 500px;
    font-size: 54px; }
    .header_heading-wrap {
      float: left;
      width: 45%;
      padding: 3% 0 17% 15%; }
      .header_heading-wrap .landing-logo {
        display: block;
        float: left; }
        .header_heading-wrap .landing-logo p {
          font-weight: 575;
          width: 62px;
          float: right;
          letter-spacing: 2px;
          margin: 5px 10px; }
          .header_heading-wrap .landing-logo p span {
            display: inline-block;
            padding-left: 6px;
            letter-spacing: normal;
            font-size: 8px; }
    .header_heading::before {
      content: '';
      display: block;
      position: absolute;
      background: #CA5744;
      z-index: -1;
      height: 25px;
      width: 17%;
      top: 34%; }
  .header_button, .section_banner_button {
    margin-top: 35px;
    border: 0 solid transparent;
    border-radius: 3px;
    background-color: #E2AD0D;
    padding: 12px 35px;
    color: white; }
  .header_text {
    max-width: 500px; }

.section {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: -2.5%; }
  .section_text {
    text-align: center;
    font-size: 32px;
    font-weight: 575;
    color: #FDFDFD;
    margin: 11px auto; }
  .section::before {
    content: '';
    display: block;
    position: absolute;
    background: #CA5744;
    z-index: -1;
    height: 15px;
    width: 11%;
    top: 4%;
    right: 38%; }
  .section_card_wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 12%; }
  .section_card {
    background-color: #393C4C;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-right: 3%;
    width: 35%;
    height: 300px;
    border-radius: 4px; }
    .section_card_heading {
      color: white;
      font-size: 20px;
      padding: 0;
      line-height: 0;
      font-weight: 575; }
    .section_card_text {
      color: white;
      font-size: 12px;
      padding: 0;
      line-height: 1.5; }
    .section_card span {
      content: '';
      display: block;
      position: absolute;
      background: #CA5744;
      z-index: -1;
      width: 47%;
      height: 12px;
      top: 58%;
      right: 75px; }

.section_card:nth-child(1) .section_card_underline {
  width: 55%;
  right: 63px; }

.section_card:nth-child(3) .section_card_underline {
  width: 39%;
  right: 85px; }

.section_banner {
  height: 125px;
  margin: 11% 0 0 22%;
  background: linear-gradient(to right, #E2AD0D, #CA5744);
  display: flex;
  align-items: center;
  width: 50%;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  border-radius: 3px; }
  .section_banner_button {
    margin: 0 55px 0 0; }
  .section_banner_text_wrap {
    margin: 0 0 0 55px;
    line-height: 0.5; }
  .section_banner_heading {
    font-weight: 575;
    font-size: 24px;
    color: #FDFDFD; }
  .section_banner_text {
    color: #c3c4c1; }
    .section_banner_text::after {
      content: '';
      display: block;
      position: absolute;
      background: #CA5744;
      z-index: -1;
      height: 10px;
      width: 8%;
      top: 42%;
      left: 22%; }

.footer {
  height: 210px;
  background-color: #393C4C;
  margin-top: -65px;
  color: white; }
  .footer-wrap {
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0 10%;
    padding-top: 75px;
    justify-content: space-between; }
  .footer_text {
    width: 375px;
    color: white; }
  .footer_logo p {
    float: right;
    margin: 5px 10px;
    font-weight: 575;
    width: 63px;
    letter-spacing: 2px;
    color: white; }
    .footer_logo p span {
      letter-spacing: normal;
      display: inline-block;
      font-size: 8px;
      padding-left: 6px; }
