$text-color: #FDFDFD;
$text-color-black: #000;
$font: Freska, Source Sans Pro, sans-serif;
$button-color:  #E2AD0D;
$header-image: url(../img/m-h-night.jpg);
$underline-color: #CA5744;
$background-color: #21232F;
$background-gallery-footer: #393C4C;
$ready-gradient-left: #E2AD0D;
$ready-gradient-right: #CA5744;