$text-color: #1E2D31;
$key-day: '';
$text-color-white: #FEFEFE;
$font: Hind, Source Sans Pro, sans-serif;
$button-color: #689309;
$header-image: url(../img/m-h-day.jpg);
$underline-color: #427da5;
$background-color: #FEFEFE;
$background-gallery-footer: #232531;
$ready-gradient-left: #68930B;
$ready-gradient-right: #315aa5;